GOOGLE_MAPS_API_KEY=
AISSTREAM_API_KEY=
GFW_API_ACCESS_TOKEN=
LLM_API_KEY=
LLM_MODEL=llama-3.3-70b-versatile
DATABASE_URL=sqlite:///data/cached/maritime.sqlite
COPERNICUSMARINE_SERVICE_USERNAME=
COPERNICUSMARINE_SERVICE_PASSWORD=
PROTECTED_PLANET_TOKEN=
BACKEND_URL=http://127.0.0.1:8000
