.azure/
.env
.env.*
!.env.example
.venv/
node_modules/
**/node_modules/**
.next/
**/.next/**
*.zip
__pycache__/
*.pyc
.pytest_cache/
*.sqlite*
*.log
*.bundle
data/raw/
data/cached/
.DS_Store
frontend/tsconfig.tsbuildinfo
